In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [11]:
GLEAM = pd.read_csv("Data/GLEAMorig1.csv")

### Checking out our dataset before wrangling the data

In [12]:
GLEAM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 22 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Region                                           583 non-null    object
 1   Animal_species                                   583 non-null    object
 2   Production_system                                583 non-null    object
 3   Commodity                                        583 non-null    object
 4   EmissionIntensity                                583 non-null    float64
 5   Production_kgProtein                             543 non-null    float64
 6   TotalGHG_CO2                                     543 non-null    float64
 7   TotalCO2                                         543 non-null    float64
 8   Total CH4 emissions (kg CO2e)                    543 non-null    float64
 9   Total N2O emissions (kg CO2e)                    543 non-null    float64
 10  FeedCO2                                          543 non-null    float64
 11  Feed, CH4 (kg CO2e)                              96 non-null     float64
 12  Feed: fertilizer & crop residues, N2O (kg CO2e)  543 non-null    float64
 13  Feed: applied & deposited manure, N2O (kg CO2e)  543 non-null    float64
 14  LUC: soy & palm, CO2 (kg CO2e)                   440 non-null    float64
 15  LUC: pasture expansion, CO2 (kg CO2e)            8 non-null      float64
 16  Enteric fermentation, CH4 (kg CO2e)              425 non-null    float64
 17  Manure management, CH4 (kg CO2e)                 543 non-null    float64
 18  Manure management, N2O (kg CO2e)                 528 non-null    float64
 19  Direct energyCO2                                 503 non-null    float64
 20  Indirect energy, CO2 (kg CO2e)                   512 non-null    float64
 21  PostfarmCO2                                      491 non-null    float64
dtypes: float64(18), object(4)
memory usage: 100.3+ KB

### We have some data that aren't integers. Transforming these columns will need to be done.  First to remove some data that is not needed in this analysis. using drop() on multiple columns.

In [13]:
GLEAM1 = GLEAM.drop(['Commodity', 'Region', 'LUC: soy & palm, CO2 (kg CO2e)', 'LUC: pasture expansion, CO2 (kg CO2e)'], axis=1)

In [48]:
GLEAM1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 20 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Animal_species                                   583 non-null    object
 1   Production_system                                583 non-null    object
 2   EmissionIntensity                                583 non-null    float64
 3   Production_kgProtein                             543 non-null    float64
 4   TotalGHG_CO2                                     543 non-null    float64
 5   TotalCO2                                         543 non-null    float64
 6   Total CH4 emissions (kg CO2e)                    543 non-null    float64
 7   Total N2O emissions (kg CO2e)                    543 non-null    float64
 8   FeedCO2                                          543 non-null    float64
 9   Feed, CH4 (kg CO2e)                              96 non-null     float64
 10  Feed: fertilizer & crop residues, N2O (kg CO2e)  543 non-null    float64
 11  Feed: applied & deposited manure, N2O (kg CO2e)  543 non-null    float64
 12  Enteric fermentation, CH4 (kg CO2e)              425 non-null    float64
 13  Manure management, CH4 (kg CO2e)                 543 non-null    float64
 14  Manure management, N2O (kg CO2e)                 528 non-null    float64
 15  Direct energyCO2                                 503 non-null    float64
 16  Indirect energy, CO2 (kg CO2e)                   512 non-null    float64
 17  PostfarmCO2                                      491 non-null    float64
 18  ProdSystemR                                      583 non-null    int64
 19  Species                                          583 non-null    int64
dtypes: float64(16), int64(2), object(2)
memory usage: 91.2+ KB

### Getting value counts for the next transformation from object to integer.

In [41]:
GLEAM1.Animal_species.value_counts()

Cattle       121
Chicken      121
Buffaloes     99
Sheep         99
Goats         99
Pigs          44
Name: Animal_species, dtype: int64

In [42]:
GLEAM1.Production_system.value_counts()

Aggregated              176
Grassland systems       132
Mixed systems           132
Backyard systems         44
Layers                   33
Feedlots                 22
Broilers                 22
Intermediate systems     11
Industrial systems       11
Name: Production_system, dtype: int64

In [43]:
def Production_system (series):
    if series =="Aggregated":
        return 0
    if series == "Grassland systems":
        return 1
    if series == "Mixed systems":
        return 3
    if series == "Backyard systems":
        return 4
    if series == "Layers":
        return 5
    if series == "Feedlots":
        return 6
    if series == "Broilers":
        return 7
    if series == "Intermediate systems":
        return 8
    if series == "Industrial systems":
        return 9
GLEAM1['ProdSystemR'] = GLEAM1['Production_system'].apply(Production_system)

In [46]:
def Animal_species (series):
    if series == "Cattle":
        return 0
    if series == "Chicken":
        return 1
    if series == "Buffaloes":
        return 2
    if series == "Sheep":
        return 3
    if series == "Goats":
        return 4
    if series == "Pigs":
        return 5
GLEAM1['Species'] = GLEAM1['Animal_species'].apply(Animal_species)

### Checking out the transormation of our columns.

In [47]:
GLEAM1.head()

,Animal_species,Production_system,EmissionIntensity,Production_kgProtein,TotalGHG_CO2,TotalCO2,Total CH4 emissions (kg CO2e),Total N2O emissions (kg CO2e),FeedCO2,"Feed, CH4 (kg CO2e)","Feed: fertilizer & crop residues, N2O (kg CO2e)","Feed: applied & deposited manure, N2O (kg CO2e)","Enteric fermentation, CH4 (kg CO2e)","Manure management, CH4 (kg CO2e)","Manure management, N2O (kg CO2e)",Direct energyCO2,"Indirect energy, CO2 (kg CO2e)",PostfarmCO2,ProdSystemR,Species
0,Cattle,Aggregated,160.3,2.916310e+10,4.670000e+12,9.450000e+11,2.650000e+12,1.080000e+12,3.530000e+11,NaN,1.740000e+11,7.420000e+11,2.510000e+12,1.390000e+11,1.650000e+11,4.215542e+10,1.585653e+10,9.955932e+10,0,0
1,Cattle,Aggregated,86.7,1.888089e+10,1.640000e+12,2.760000e+11,9.680000e+11,3.940000e+11,1.380000e+11,NaN,7.166208e+10,2.540000e+11,8.860000e+11,8.200906e+10,6.813278e+10,2.993485e+10,3.252889e+09,8.929544e+10,0,0
2,Cattle,Aggregated,295.4,1.028222e+10,3.040000e+12,6.690000e+11,1.680000e+12,6.870000e+11,2.150000e+11,NaN,1.020000e+11,4.880000e+11,1.620000e+12,5.744310e+10,9.678019e+10,1.222057e+10,1.260364e+10,1.026388e+10,0,0
3,Cattle,Grassland systems,206.3,1.033817e+10,2.130000e+12,5.630000e+11,1.050000e+12,5.170000e+11,1.110000e+11,NaN,5.253660e+10,4.270000e+11,9.970000e+11,5.605552e+10,3.798508e+10,1.417326e+10,4.303272e+09,3.773092e+10,1,0
4,Cattle,Grassland systems,95.0,6.940654e+09,6.590000e+11,9.286140e+10,3.710000e+11,1.950000e+11,4.404003e+10,NaN,2.156126e+10,1.590000e+11,3.370000e+11,3.444428e+10,1.473188e+10,1.078605e+10,9.998435e+08,3.462338e+10,1,0